/*
 Copyright (C) 2016 Matthew Edwards <geohash@outlook.com>

 This file is part of geohash.

 This package is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as
 published by the Free Software Foundation; either version 3 of the
 License, or (at your option) any later version.

 This package is distributed WITHOUT ANY WARRANTY;
 without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this program. If not, see
 <http://www.gnu.org/licenses/>.
*/

[data-role="Sections"] {
    padding:0;
    margin:auto;
    white-space:nowrap;
    list-style-type:none;
}

[data-role="Sections"] li {
    display: inline;
    color:#888888;
    border-bottom-color:#888888;
    padding:0.2em 1%;
    text-decoration:none;
    float:left;
    border-bottom:1px solid;
    text-align:center;
    display: inline;
}

[data-role="Sections"] li.active {
    color:#dd4814;
    border-bottom-color:#dd4814;
}

[data-role="Sections"] li img {
    max-width: 30px;
    max-height: 30px;
    padding: 10px;
}
